.app{
    position: relative;
    width: 1440px;
    height: 6360px;
    background-color: aqua;
    margin: 0 auto;
}
.navbar-section{
    position: absolute;
    width: 1440px;
    height: 108px;
    background-color: yellow;
}
#nav-inside-items{
    position: absolute;
    width: 1247px;
    height: 54px;
    left: 109px;
    top: 27px;
    background-color: lightpink;
}
#abc{
    background-color: brown;
    margin: 0 auto;
}
#abc1{
   
    margin: 0 auto;
}
#abc2{
    
    margin: 0 auto;
}
#abc3{
  
    margin: 0 auto;
}
