#main-container{
    height: 2000px;
    /* background-color:bisque; */
}
#navbar-container{

    margin: 0 auto;
    height: 108px;
    /* background-color: yellow; */
}

#navitems{
    height: 54px;
    top: 27px;
    /* background-color: greenyellow; */
}
#logo-nav{
    width: 54.76px;
    height: 54px;
    top: 27px;
}

#nav-items {
    /* background-color: rgb(212, 163, 163); */
    margin: 0 auto;
    margin-left: 350px;
    font-family: amiri;
    color: black;
    
}
#nav-meet-btn{
    border: 1px solid;
    height: 39px;
    width: 162px;
    border-radius: 0%;
    font-family: amiri;
}
button.navbar-toggler{
    border: none;
    border-radius: 0px;
}
.navbar-toggler-icon{
  vertical-align: 0px;
}
@media (min-width: 1400px) {
    #nav-items {
        margin-left: 350px;
        
    }
  }

  @media (max-width: 1399px) {
    #nav-items {
        margin-left: 230px;
        /* background-color: red; */
        
    }
  }
  @media (max-width: 1199px) {
    #nav-items {
         margin-left: 125px;
      /* background-color: maroon; */
      
  }
}
@media (max-width: 991px) {
  #nav-items {
    margin-left: 15px;
    text-align: left;
}
}
@media (min-width: 520px) {
  #nav-meet-btn {
    border: 1px solid;
    height: 30px;
    width: 135px;
    padding: 3px;
    border-radius: 0%;
    font-family: amiri;
}
}
@media (min-width: 520px) {
  #logo-nav {
    width: 30px;
    height: 30px;
    padding: 4px;
    margin-left: 35px;
    border-radius: 0%;
    font-family: amiri;
}
}
@media (min-width: 520px) {
  button.navbar-toggler {
    width: 30px;
    height: 28px;
    border: none; 
}
}
@media (max-width: 1199px) {
  button.navbar-toggler {
    width: 30px;
    height: 28px;
    border: none; 
}
}
  /* @media (max-width: 991px) {
    #logo-nav{
      margin-left: 275px;
      width: 54.76px;
      height: 54px;
      top: 27px;
  }     
  } */

  /* @media (max-width: 991px){
    button.navbar-toggler{
      margin-right: 700px;
      border-radius: 0px;
    }
  } */

  /* @media (max-width: 991px){
    #nav-meet-btn {
      margin-top: 400px;
      border: 1px solid;
      height: 39px;
      width: 162px;
      border-radius: 0%;
      font-family: amiri;
    }
  } */
  



@media (max-width: 991px){
.show-on-mobile {
    display: block !important;
  }
  .show-on-pc {
    display: none !important;
  }
}
@media (min-width: 991px){
  .show-on-mobile {
    display: none !important;
  }
  .show-on-pc {
    display: block !important;
  }
}
  